/* CSS DIRECTORY
  1. = GLOBAL
  2. = NAVIGATION
  3. = GENERAL
  4. = GALLERY GRID
  5. = HOMEPAGE
  6. = ABOUT
  7. = PUBLICATIONS
  8. = VIDEO
  9. = LECTURES
  10. = TOURS
  11. = ANIMATIONS
  12. = MOBILE
  13. = ICON CLOSED
  14. = ICON OPEN
	15. = MOBILE GENERAL
*/

/* === GLOBAL === */

* {
  box-sizing: border-box;
}

html {
	/* stops the scrollbar from moving content */
	margin-left: calc(100vw - 100%);
}

body {
  font-family: "Arial";
  margin: 0;
}

header {
  
}

nav {

}

footer {
  
}

h1 {
	color: #7a00cc
}

h2 {
	color: #333333
}

p {
	color: #808080;
	margin-top: 0;
}

ul {
	color: #808080
}

/* === NAVIGATION === */

.navigation-header {
  text-align: center;
  margin: auto;
  margin-top: 64px;
  padding: 0 24px;
}

.navigation-header .nav-icon {
	display: none;
	font-size: 1.9em;
	color: black;
}

.navigation {
  text-align: center;
  padding-top: 32px;
}

.navigation a {
	font-size: 1.5em;
	letter-spacing: 2px;
	text-decoration: none;
	color: #333333;
	margin: 0 16px;
}

.navigation a.active {
	color: #8a00e6;
  text-shadow: 1px 1px #d9cde4;
}

.navigation a:hover:not(.active) {
	color: #8c8c8c;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 32px;
  width: 100%;
}

.title {
	text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 4px;
  text-decoration: none;
  color: #7a00cc;
}

/* === GENERAL === */

.window-container {
	display: block;
	position: relative;
	margin: auto;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}

.content-container {
	margin: auto;
	margin-top: 32px;
	padding: 28px 48px 48px 48px;
	max-width: 1096px;
	max-height: 100%;
}

.content-container h2 {
	margin: 0 0 24px 0;
	font-weight: normal;
	letter-spacing: 1px;
}

.content-container img:not(.grid-img) {
	display: block;
	vertical-align: middle;
	margin: auto;
	padding: 0 10% 28px 10%;
	max-width: 85%;
	max-height: 85%;
}

.slideshow-container {
  margin: auto;
	margin-top: 64px;
	position: relative;
	visibility: hidden;
}

.slide-img {
	margin: auto;
	display: block;
	position: absolute;
	user-select: none;
	cursor: pointer;
}

.text-container {
	margin: auto;
	padding: 0 48px 48px 48px;
	max-width: 1000px;
	max-height: 100%;
}

.text-container p {
	font-size: 1.05em;
}

.text-container u {
	text-decoration: underline;
}

.caption-text {
	text-align: center;
	font-style: italic;
	font-size: .95em;
	color: #999999;
	padding-bottom: 24px;
	max-width: 696px;
	margin: auto;
}

/* === GALLERY GRID === */

.grid-container {
	display: grid;
	grid-gap: 32px 16px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 400px;
	justify-items: center;
}

.grid-img {
	max-width: 100%;
	max-height: 80%;
}

.grid-item p {
	text-align: center;
	font-size: .9em;
	padding-top: 8px;
}

/* === HOMEPAGE === */

.homepage img {
	padding: 0 0 28px 0;
}

/* === ABOUT === */

.about h2 {
	text-align: left;
	padding-left: 48px;
}

.about .image-container {
	float: right;
	padding: 4px 0 28px 5%;
	max-width: 400px;
}

.about .image-container img {
	padding: 0 0 16px 0;
}

/* === PUBLICATIONS === */

.publication-box {
	text-align: center;
}

.publication-box p {
	font-style: italic;
}

/* === VIDEOS === */

.videos h2 {
	text-align: center;
}

.videos h2:not(:first-of-type) {
	margin-top: 24px;
}

.youtube-wrapper {
	position: relative;
	margin-bottom: 64px;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
}

.youtube-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* === LECTURES === */

.text-container ul {
	list-style-type: none;
}

/* === TOURS === */

.tours img {
	padding: 0 0 28px 0;
}

/* === ANIMATIONS === */

.fade-in {
	animation: fade-in .2s ease-in forwards;
	-webkit-animation: fade-in .2s ease-in forwards;
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1.0}
}

.fade-out {
	animation: fade-out .2s ease-out forwards;
	-webkit-animation: fade-out .2s ease-out forwards;
}

@keyframes fade-out {
	from {opacity: 1.0}
	to {opacity: 0}
}

/* === MOBILE ===*/

@media screen and (max-width: 800px) {

	/* === ICON CLOSED === */

	.navigation-header {
		margin: 0;
	  padding: 24px 24px;
	  text-align: left;
		width: 100%;
		min-width: 200px;
		height: auto;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: white;
	}

	.navigation-header .title {
		display: inline-block;
	  font-size: 2em;
	  letter-spacing: 3px;
	  padding-right: 28px;
	}

	.navigation-header a.nav-icon{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	  padding: 24px 24px 0 0;
	}

	.navigation a {
		margin: 10px 0 10px 8px;
		text-align: center;
		font-size: 1.1em;
		letter-spacing: 1px;
		display: none;
	}

	/* === ICON OPEN === */

	.responsive {
		padding: 16px 0 0 0;
		border-bottom: 2px solid #b3b3b3;
	}

	.responsive a {
		display: block;
	}

	/* === MOBILE GENERAL === */

	.content-container img:not(.grid-img),
	.about img,
	.tours img {
		float: none;
		padding: 0 5% 16px 5%;
		max-width: 100%;
		max-height: 100%;
	}

	.text-container {
		padding: 0 16px 28px 16px; 
	}

	.content-container {
		padding: 0 0 48px 0;
		margin-top: 0;
	}

	.content-container h2 {
		margin: 16px 0 24px 0;
	}

	.about .image-container {
		float: none;
		margin: auto;
		padding: 0 0 16px 0;
	}

	.about h2 {
		text-align: center;
		padding-left: 0;
	}

	.videos h2:first-of-type {
		margin-top: 0;
	}

}

@media screen and (max-width: 450px) {

	.navigation-header .title {
	  font-size: 1.8em;
	  letter-spacing: 2px;
	}

}