/* CSS DIRECTORY
  1. = GLOBAL
  2. = HOMEPAGE
  3. = SIDEBAR
  4. = GALLERY
  5. = ABOUT
  . = ANIMATIONS
  . = MOBILE
  . = ICON CLOSED
  . = ICON OPEN
  . = MOBILE GALLERY
  . = MOBILE ABOUT
*/

/* COLORS

*/

/* === GLOBAL === */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  margin: 0;
}

header {
  
}

nav {
}

footer {
  
}

h1 {

}

h2 {
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #4c0080;
}

p {
  
}

/* === HOMEPAGE === */

.homepage-header {
  text-align: center;
  margin: auto;
  margin-top: 64px;
  padding: 0 24px;
	/*position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.homepage-header .nav-icon {
	display: none;
	font-size: 1.9em;
	color: black;
}

.homepage-navigation {
  text-align: center;
  padding-top: 32px;
	/*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.homepage-navigation a {
	font-size: 1.5em;
	letter-spacing: 2px;
	text-decoration: none;
	color: #333333;
	margin: 0 16px;
}

.homepage-navigation a:hover {
	color: #8c8c8c;
}

.homepage-image {
	margin: 32px 24px 8px 24px;
	text-align: center;
}

.desktop-image,
.mobile-image {
	max-width: 100%;
	height: auto;
	margin: auto;
}

.desktop-image {
	display: block;
}

.mobile-image {
	display: none;
}

.homepage-footer {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 32px;
}

.title {
	text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 4px;
  text-decoration: none;
  color: #4c0080;
}

/* === SIDEBAR === */

.sidebar-container {
	margin: 0;
	padding: 48px 24px;
  width: 400px;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 3;
}

.sidebar-container .title {
  font-size: 2em;
  letter-spacing: 3px;
}

.sidebar-container .nav-icon {
	display: none;
	font-size: 1.9em;
	color: black;
}

.sidebar-navigation {
  padding: 32px 0 0 0;
}

.sidebar-navigation a {
	display: block;
	font-size: 1.1em;
	text-decoration: none;
	color: #333333;
	cursor: pointer;
	margin: 10px 0 10px 8px;
}

.sidebar-navigation a.active {
  text-shadow: 1px 1px #d9cde4;
}

.sidebar-navigation a:hover:not(.active) {
	color: #b39cc9;
}

.sub-sidebar {
	font-size: 0.9em;
	padding: 0 0 0 16px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/* === GALLERY === */

.content-container {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.gallery-container {
	margin: 0px 16px 0px 416px;
	position: relative;
	height: 100%;
	text-align: center;
}

.gallery-img {
	display: block;
	visibility: hidden;
	vertical-align: middle;
	position: absolute;
	margin: auto;
	padding: 28px 0;
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	user-select: none;
}

.overlay-control-left {
	width: 40%;
	left: 0;
	cursor: w-resize;
}

.overlay-control-center {
	width: 24%;
	display: inline-block;
	transform: translateX(-50%);
	cursor: ns-resize;
}

.overlay-control-right {
	width: 38%;
	right: 0;
	cursor: e-resize;
}

.overlay-control-left,
.overlay-control-center,
.overlay-control-right {
	position: absolute;
	margin: 28px 0;
	height: 90%;
	z-index: 2;
}

.gallery-grid-container {
	display: none;
	/*overflow: auto;*/
	margin-left: 400px;
	max-height: 100%;
}

.gallery-grid-row {
	display: flex;
	flex-wrap: wrap;
	margin: 16px;
	/*display: inline-grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 12px;
	justify-content: center;
	max-width: 100%;
	max-height: 100%;
	margin: 16px;*/
}

.gallery-grid-column {
	flex: 25%;
	max-width: 25%;
	max-height: 100%;
	padding: 6px;
}

.gallery-grid-column img {
	margin: 6px 0;
	vertical-align: center;
	max-width: 100%;
	max-height: 100%;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	width: calc(100% + .49px); /* Stops jitter during animation */
	cursor: pointer;
	transition: opacity 0.2s;
	-webkit-transition: 0.2s;
}

.gallery-grid-column img:hover {
	opacity: .8;
	filter: alpha(opacity=80);
}

@media screen and (max-width: 1350px) {
	.gallery-grid-column {
		flex: 50%;
		max-width: 50%;
		/*grid-template-columns: auto auto auto;*/
	}
}

@media screen and (max-width: 1025px) {
	.gallery-grid-column {
		flex: 100%;
		max-width: 100%;
		/*grid-template-columns: auto auto;*/
	}
}

.meta-panel {
	position: absolute;
	bottom: 28px;
	left: 28px;
	z-index: 4;
	background-color: white;
}

.meta-info {
	line-height: 24px;
	padding: 0 6px 18px 6px;
	max-width: 400px;
}

.info {
	display: none;
	color: #333333;
}

.meta-controls,
.meta-toggle {
	text-decoration: none;
	user-select: none;
	font-size: 1.1em;
	color: #000000;
	padding: 0 6px;
}

.meta-controls {
	padding: 12px 6px;
}

.meta-controls div {
	display: inline-block;
	cursor: pointer;
}

.meta-toggle {
	cursor: pointer;
}

.mobile-info {
	display: none;
}

/* === ABOUT === */

.text-container {
	margin: 64px 28px 64px 400px;
	max-width: 850px;
}

.text-container p {
	line-height: 1.4em;
}

.text-container img {
	float: right;
	margin: 0 0 28px 28px;
}

@media screen and (max-width: 1000px) {
	.text-container img {
		float: initial;
		padding: 16px 0;
		margin: auto;
		display: block;
	}
}

.document-grid-container {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 70px minmax(220px, 700px);
	grid-gap: 5px;
	padding-left: 8px;
}

.document-grid-container a{
	color: #4c0080;
	text-decoration: none;
	cursor: pointer;
}

.header-item {
	grid-column: span 2;
	font-weight: bold;
	padding: 16px 0;
}

.long-item {
	grid-column: span 2;
}

/* === VIDEOS === */

.text-container .video {
	margin: auto;
}

.video h2 {
	text-align: center;
}

.video h2:not(:first-of-type) {
	margin-top: 24px;
}

.youtube-wrapper {
	position: relative;
	margin-bottom: 64px;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
}

.youtube-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* === LINK === */

.link a {
	text-decoration: none;
	line-height: 1.4em;
}

/* === ANIMATIONS === */

.fade-in {
	animation: fade-in .2s ease-in forwards;
	-webkit-animation: fade-in .2s ease-in forwards;
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1.0}
}

.fade-out {
	animation: fade-out .2s ease-out forwards;
	-webkit-animation: fade-out .2s ease-out forwards;
}

@keyframes fade-out {
	from {opacity: 1.0}
	to {opacity: 0}
}

/* === MOBILE ===*/

@media screen and (max-width: 800px) {

	/* === ICON CLOSED === */

	.homepage-header,
	.sidebar-container {
		margin: 0;
	  padding: 24px 24px;
	  text-align: left;
		width: 100%;
		min-width: 200px;
		height: auto;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: white;
	}

	.homepage-header .title {
	  font-size: 2em;
	  letter-spacing: 3px;
	}

	.homepage-header a.nav-icon,
	.sidebar-container a.nav-icon {
		float: right;
		display: block;
	}

	.sidebar-navigation {
		padding: 0;
	}

	.homepage-navigation a,
	.sidebar-navigation a {
		margin: 10px 0 10px 8px;
		text-align: center;
		font-size: 1.1em;
		letter-spacing: 1px;
		display: none;
	}

	.sub-sidebar {
		font-size: 0.8em;
		padding: 0;
	}

	.homepage-image {
		margin: 0px 8px 8px 8px;
	}

	.desktop-image {
		display: none;
	}

	.mobile-image {
		display: block;
	}

	/* === ICON OPEN === */

	.responsive {
		padding: 16px 0 0 0;
		border-bottom: 2px solid #b3b3b3;
	}

	.responsive a {
		display: block;
	}

	/* === MOBILE GALLERY === */

	.content-container {
		position: relative;
	}

	.gallery-container {
		margin: 16px;
	}

	.overlay-control-left,
	.overlay-control-center,
	.overlay-control-right {
		display: none;
	}

	.gallery-img {
		padding: 0;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
	}

	.gallery-img:not(:first-of-type) {
		padding: 28px 0 0 0;
	}

	.meta-panel {
		display: none;
	}

	.mobile-info {
		display: block;
		margin: 8px 0 0 0;
		font-size: 0.9em;
		color: #333333;
	}

	/* === MOBILE ABOUT === */

	.text-container {
		margin: 16px 28px;
	}

	/* === MOBILE VIDEO === */

	.video h2 {
		font-size: 1.1em;
	}

}

@media screen and (max-height: 550px) {

	.sidebar-navigation a {
		font-size: 1em;
	}

	.sub-sidebar {
		font-size: 0.9em;
	}

	.info {
		font-size: 0.9em;
	}

}