/* CSS DIRECTORY
	1. =GLOBAL
	2. =HEADER
	3. =GALLERY
	4. =GALLERY NAVIGATION
	5. =ARCHIVE
	6. =PRESS
	7. =ABOUT
	8. =FOOTER
*/

/* COLORS
  - default body text  #737373
  - header text        #4040bf
  - navigation text    #8c8c8c
  - active navigation  #00a3cc
  - hover text         #80e0ff
  - navigation buttons #999999
*/

/* === GLOBAL === */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  margin: 0;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4040bf;
}

h3 {
  color: #4040bf;
  margin-bottom: 0px;
  font-weight: 500;
}

p {
  color: #737373;
}

/* === HEADER === */

.header {
  text-align: center;
  min-width: 600px;
  margin: auto;
  margin-top: 64px;
}

.homepage {

}

.title {
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 5px;
  text-decoration: none;
  color: #4040bf;
}

.navigation {
  padding-top: 32px;
}

.navigation a {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #8c8c8c;
}

.navigation a:hover {
  color: #80e0ff;
}

.navigation a.active {   /* not the CSS active */
  color: #00a3cc;
  text-shadow: 1px 1px #80e0ff;
}

/*.background {
  background-image: url("./images/IMG_0312.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}*/

/* === GALLERY === */

.content-wrapper {
  margin-top: 72px;
  min-height: 1080px;
}

.slideshow {
  height: 800px;
  position: relative;
  margin: auto;
}

.slide-img {
  display: block;
  height: 100%;
  margin: auto;
  /*height: 800px;*/
}

.gallery-description {
  max-width: 820px;
  margin: auto;
  margin-bottom: 48px;
}

.gallery {
  width: 1080px;
  height: 1000px;
  position: relative;
  margin: auto;
}

.gallery-main {
  width: 1080px;
  height: 820px;
  position: relative;
  margin: auto;
}

.gallery-img {
  display: block;
  max-width: 1080px;
  height: 100%;
  margin: auto;
}

/* === GALLERY NAVIGATION === */

.prev-img, .next-img {
  width: 440px;
  height: 820px;
  cursor: ew-resize;
  position: absolute;
  z-index: 2;
}

.prev-img {
  left: 0;
}

.next-img {
  right: 0;
}

.archive-modal .prev-img, .archive-modal .next-img {
  width: 50%;
  height: 1080px;
}

.gallery-info {
  position: relative;
  margin: 16px auto;
}

.info {
  font-size: .85em;
  line-height: 1.4;
  text-align: center;
  color: #737373;
}

.gallery-nav {
  height: 140px;
  width: 700px;
  margin: auto;
  margin-top: 32px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery-icon {
  cursor: pointer;
  height: 120px;
  width: 120px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  display: inline-block;
}

.gallery-buttons {
  height: auto;
}

.prev-button, .next-button {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  width: auto;
  color: #999999;
  user-select: none;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:hover, .next-button:hover {
  color: #00a3cc;
}

.gallery-buttons .prev-button, .gallery-buttons .next-button{
  margin-top: 40px;
}

.highlight {
  border-color: #cccccc;
}

/* === ARCHIVE === */

.archive-wrapper {
  max-width: 964px;
  padding-bottom: 32px;
  margin: auto;
  margin-top: 64px;
}

/*.archive-tab {
  margin: auto;
  width: 50%;
  text-align: center;
}

.archive-tab a {
  cursor: pointer;
  padding: 14px 16px;
  font-size: 28px;
}

.archive-tab a:hover {
  color: #ccb3ff;
}

.archive-tab a.active {
  color: #884dff;
  text-shadow: 1px 1px #ddccff;
}*/

/*.tab-content {		 gotten by the archive script 

}*/

.archive-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 32px;
  margin-bottom: 32px;
}

.archive-img {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
  /*border: 4px solid #d9d9d9;*/
}

.archive-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  margin: auto;
  width: 840px;
  height: 840px;
}

.modal-img {
  display: none;
  position: relative;
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.modal-close {
  color: #cccccc;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  /*font-weight: bold;*/
}

.modal-close:hover, .modal-close:focus {
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

/* unused */
.publications-wrapper {
  max-width: 1080px;
  min-height: 1080px;
  margin: auto;
}

/* === PRESS === */

.collapsible {
  cursor: pointer;
}

a.collapsible.active {
  color: #00a3cc;
}

.collapsible-content {
  padding: 4px 12px;
  display: none;
  background-color: #f1f1f1;
}

.collapsible-content p {
  display: inline-block;
}

.collapsible-content img {
  float: right;
  margin-left: 12px;
  max-width: 250px;
  max-height: 250px;
}

.catalogue-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 32px;
  margin: 42px 32px;
}

.catalogue-item {
  margin: auto;
}

.catalogue-item a:hover {
  opacity: 0.7;
}

.catalogue-item p {
  text-align: center;
  line-height: 1.4;
}

.catalogue {
  width: 250px;
  height: 300px;
  margin: auto;
}

/* === ABOUT === */

.about-wrapper {
  max-width: 1080px;
  padding: 0px 32px 32px 32px;
  margin: auto;
}

.about-wrapper a {
  text-decoration: none;
  line-height: 1.5;
  color: #737373;
}

.about-wrapper a:link {
  color: #737373;
}

.about-wrapper a:visited {
  color: #737373;
}

.about-wrapper a:hover {
  color: #80e0ff;
}

#cv {
  text-decoration: none;
}

.about-img {
  max-width: 408px;
  max-height: 544px;
  margin: 0px 0px 28px 28px;
  float: right;
}

/* === FOOTER === */

.footer {
  bottom: 0;
  margin-top: 32px;
}

.footer-left {
  width: 80%;
  margin: auto;
}